* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background: linear-gradient(to right, #fff0f6, #f85395);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

#calc {
  width: 400px;
  padding: 0.5em;
  background-color: #a61e4d;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#calc h3 {
  font-size: 1em;
  font-weight: 300;
  color: #fff0f6;
}

#operations {
  text-align: right;
}

#previous-operation {
  color: #ffffffdc;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}

#current-operation {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.2em;
  overflow-wrap: break-word;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}

#buttons-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #f00b5b;
  color: #fff0f6;
  cursor: pointer;
}

#buttons-container .number {
  background-color: #d6336c;
}

#buttons-container button:hover {
  background-color: #a70f44;
  border-color: #a61e4d;
}

#buttons-container #equal-btn {
  grid-column: span 2;
}
